@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root{
    --primary : #75B31D;
    --background : #FFFFFF;
    --background-accent : #f4f4f4;
    --text : #141414;
    --text-accent : #75B31D;
    --font-title : 'Raleway', sans-serif;;
    --font-text :  Arial, Helvetica, sans-serif;
    --border-radius-desktop: 50px 0 50px 0;
    --border-radius-mobile: 25px 0 25px 0;
    --border-radius-desktop-right: 0 50px 0 50px ;
    --border-radius-mobile-right: 0 25px 0 25px ;
    --modal-background : rgba(0,0,0,0.6);
    --transition-dark-mode : 0.2s;
}

*{
    margin: 0;
    font-family: var(--font-text);
    color: var(--text);
}


/* --- Design général global --- */

body{
    background-color: var(--background);
    transition: var(--transition-dark-mode);
}

h1, h2, h3{
    text-transform: uppercase;
    font-family: var(--font-title);
    color: var(--primary);
}

main{
    padding: 0 5%;
}

h1{
    margin: 40px 0 25px 0;
    font-size: 32px;
    font-weight: 700;
}

button{
    background: #87BB34;
    border-radius: 10px 0px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    transform: scale(0.98);
}
button:active{
    transform: scale(0.8);
}

/* --- Header, Nav, Footer --- */
header{
    
    background-color: var(--background-accent);
    transition: var(--transition-dark-mode);
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5%;
    margin-bottom: 40px;
}

.nav-desktop, .nav-mobile-menu{
    display: none;
}

footer{
    background-color: var(--background-accent);
    transition: var(--transition-dark-mode);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

.design{
    border-radius: var(--border-radius-mobile);
    background-color: var(--background-accent);
    transition: var(--transition-dark-mode);
    padding: 20px;
}
header em{
    font-size: 1.7em;
    margin-left: 20px;
    color: var(--primary);
    cursor: pointer;
    transition: 0.2s;
}

header em:hover{
    transform: scale(0.98);
}
header em:active{
    transform: scale(0.8);
}

/* --- About --- */

#photo-profil img{
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-mobile);
}
#about-me, #profil{
    margin-top: 20px;
}
h3{
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
}
#line{
    height: 2px;
    background: var(--primary);
    margin: 10px 0;
}
#profil p{
    text-transform: uppercase;
    font-weight: 600;
}
#profil-firstname{
    color: var(--text);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-title);
}
#profil-name{
    color: var(--primary);
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-title);
    letter-spacing: 5px;
}
#afpa{ 
    height: 25px;
    padding-top: 10px;

}

/* --- Projets --- */
.project-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.project-description {
    display: none;
}
.project-technologies{
    display: none;
}

.project-technologies em{
    font-size : 1.4em;
    margin: 0 5px 0 5px;
}
.project-image-2, .project-image-3{
    display: none;
}


h2{
    margin: 10px 0;
}
.voir-plus{
    margin-top: 5px;
}
.project-images img{
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-mobile);
}

/* --- Slider horizontal projets --- */

#projects-container {
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
#projects-container::-webkit-scrollbar {
    display: none;
}
article {
    scroll-snap-align: start;
    position: relative;
    min-width: calc(100vw - 10% - 40px);
    padding: 20px;
}

/* --- Formulaire de contact --- */
form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    background-color: var(--background);
    transition: var(--transition-dark-mode);
    padding: 5px;
    border: rgba(0,0,0,0.4) 1px ;
    margin: 10px 0;
}
textarea{
    resize: vertical;
}
label{
    color: var(--primary);
}
#send{
    align-self: flex-end;
}


/* Modal */
#modal{
    animation : slide_down 0.1s ease-in-out;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--modal-background);
}
#modal-content {
    animation : slide_up 0.5s ease-in-out;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin: 8% auto;
    width: 80%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

#modal .project-technologies, #modal .project-content, #modal .project-content p{
    display: block;
    text-align: center;
}

#modal .project-technologies{
    margin-top: 10px;
}

#modal .project-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#modal #close-modal{
    margin-top: 10px;
    background-color: rgb(196, 18, 5);
    align-self: flex-end;
}
#modal-content .project-images{
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#modal-content .project-images .project-image-1 {
    height:70%;
}
#modal-content .project-images .project-image-2, #modal-content .project-images .project-image-3{
    display: inline;
    opacity : 0.5;
}

#modal-content .project-images img {
    width : 100%;
    height: 15%;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 0.5s;
}

@media screen and (min-width: 768px) {

    /* --- Design général --- */
    h1{
        text-align: center;
    }
    button{
        border-radius: 10px 0px;
        padding: 8px 15px;
        font-size: 1em;
    }
    
    /* --- Header, Nav, Footer --- */

    header em{
        font-size: 2.5em;
        margin-left: 50px;
    }

    /* --- About --- */
    #about{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #photo-profil{
        width: 250px;
    }
    #profil{
        text-align: right;
    }
    #profil-firstname{
        font-size: 24px;
    }
    #profil-name{
        font-size: 36px;
        margin-right:-5px;
        letter-spacing: 5px;
    }
    #about-me{
        text-align: center;
        padding: 30px;
    }
    #line{
        margin: 20px 0;
    }

    /* --- Projets --- */
    .left-animation{
        animation : slide_left 1s ease-in-out;
    }
    .right-animation{
        animation : slide_right 1s ease-in-out;
    }
    .project-right .project-images{
        order:2;
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right{
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right .project-images img{
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right .voir-plus{
        border-radius: 0 10px;
    }

    #projects-container{
        flex-direction: column;
    }
    #projects{
        padding-top: 20px;
    }
    article{
        padding: 0px;
        margin-bottom: 40px;
    }
    article div{
        scroll-snap-align: none;
        width: calc(100%-40px);
        display: flex;
        flex-direction: row;
    }
    .project-images{
        padding: 20px;
        width: 250px;
    }
    .project-images img{
        width: 250px;
        object-fit: cover;
        border-radius: var(--border-radius-mobile);
    }
    .project-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .project-description {
        display: block;
    }
    
    h2{
        margin: 10px 0;
        font-size: 1.8em;
    }
    .project-footer{
        margin-top: 5px;
        width: 100%;
        justify-content: flex-end;
        margin-top: auto;
    }
    .project-technologies em{
        font-size : 2em;
        margin: 0 5px 0 5px;
    }
    /* --- Formulaire de contact --- */
    .form{
        padding: 40px;
    }

    input, textarea{
        padding: 10px;
        font-size: 1em;
    }
    label{
        font-size: 1.4em;
        margin-top: 10px;
    }
    #send{
        margin-top: 20px;
    }


    /* Modal */
    #modal-content {
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin: 10% auto;
        width: 70%;
        padding: 10px;
    }

    #modal .project-content p{
        line-height: 1.5em;
    }

    #modal .project-technologies{
        margin-top: 20px;
    }

    #modal-content .project-images{
        min-width: 80%;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }



}

@media screen and (min-width: 992px) {

    /* --- Design général --- */
    h1{
        font-size: 3em;
        text-align: left;
        margin-top: 40px;
    } 
    main, .header-content{
        max-width: 1200px;
        margin: auto;
    }
    .design{
        border-radius: var(--border-radius-desktop);
    }


    /* --- Header --- */
    header, footer{
        height: 100px;
    }
    .header-content{
        padding: 0;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .nav-mobile, .nav-mobile-menu{
        display:none;
    }
    .nav-desktop{
        display: block;
        display: flex;
        width: 100%;
    }
    .nav-desktop a{
        text-align: center;
        margin-right: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;

        background: linear-gradient(to right, var(--text-accent), var(--text-accent) 50%, var(--text) 50%);
        
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;

        transition: background-position 0.3s ease;

    }
    .nav-desktop a:hover{
        background-position: 0 100%;
        text-decoration: overline;
    }
    .nav-desktop a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--text-accent);
        transform-origin:  left;
        transition: transform 0.3s ease-out;
    }

    .nav-desktop a:hover:after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .nav-desktop a:visited, .nav-desktop a{
        color: var(--text);
        text-decoration: none;
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 1.2em;
    }

    header em{
        font-size: 2em;
        margin-left: 0;
    }


    /* --- About --- */
    #about{
        padding: 50px 0;
    }
    #photo-profil{
        width: 400px;
    }
    #profil{
        margin-top: 0;
        width: calc(100% - 550px);
    }
    #about-me{
        margin-top: 70px;
        line-height: 2em;
    }
    #profil-firstname{
        font-size: 32px;
    }
    #profil-name{
        font-size: 48px;
        margin-right:-5px;
        letter-spacing: 5px;
    }
    
    /* --- Projets --- */
    #projects{
        padding-top: 20px;
    }
    
    #projects-title{  
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--background);
        padding: 20px;
    }
    article{
        padding: 20px 0;
        min-width: 100%;
        display: flex;
        scroll-snap-align: start;
    }
    article div{
        
        display: flex;
        flex-direction: row;
    }
    .project-right, .project-left{
        margin: auto;
        height: 400px;
        width : 100%;
    }
    .project-images{
        min-width: 360px;
    }
    .project-images img{
        width: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-desktop);
    }

    .project-right .project-images{
        order:2;
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right{
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right .project-images img{
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right .voir-plus{
        border-radius: 0 10px;
    }
    .project-footer{
        justify-content: space-between;
    }
    .project-technologies{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .project-technologies h3{
        margin-bottom: 0px;
        margin-right: 20px;
    }
    .project-technologies em{
        font-size : 2em;
        margin-right: 10px;
    }

    /* --- Formulaire de contact --- */
    #contact{
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
    }
    .contact-title{
        top: 0;
        background-color: var(--background);
        transition: var(--transition-dark-mode);
        padding: 10px 0;
    }
    form{
        width: 100%;
        margin: auto;
        background-color: rgb(238, 238, 238);
        display: grid;
        grid-gap: 10px;
        align-items: center;
        grid-template-columns: 200px 1fr 150px;
        grid-template-rows: 30px 30px 1fr 40px;
        grid-template-areas:    "label input input"
                                "label2 input2 input2"
                                "label3 input3 input3"
                                ". . button";
    }
    form :nth-child(1n){
        grid-area: label;
    }
    form :nth-child(2n){
        grid-area: input;
        padding: 5px;
    }
    form :nth-child(3n){
        grid-area: label2;
    }
    form :nth-child(4n){
        grid-area: input2;
        padding: 5px;
    }
    form :nth-child(5n){
        grid-area: label3;
        align-self: flex-start;
        margin-top: 5px;
    }
    form :nth-child(6n){
        grid-area: input3;
        align-self: flex-start;
        height:80%;
        padding: 5px;
    }
    form :nth-child(7n){
        grid-area: button;
        cursor: pointer;
    }
    label{
        color: var(--primary);
        font-size: 1.2em;
    }

    /* Modal */
    #modal-content {
        height: 500px;
        display: flex;
        flex-direction: row;
        margin: 15% auto;
        width: 900px;
    }
    #modal .project-content, #modal .project-content p{
        display: flex;
        text-align: left;
    }
    #modal .project-technologies{
        display: flex;
    }
    #modal #close-modal{
        margin-top: 20px;
        background-color: rgb(196, 18, 5);
        align-self: flex-end;
    }
    #modal-content .project-images{
        min-width: 360px;
        width: 00px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    
}

/* --- Icones langages --- */
.fa-html5{
    color: #EF450A;
}
.fa-css3-alt{
    color: #2449D8;
}
.fa-js{
    color: #EAD41C;
}
.fa-wordpress{
    color: #3190CD;
}
.fa-php{
    color: #7175AA;
}
.fa-react{
    color: #5CCFEE;
}



@keyframes slide_up {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide_left {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}