/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/* Variables */
:root {
    --primary: #ffc400;
    --primary-accent: #e2ad00;
    --background: #1c2b3b;
    --background-accent: #152333;
    --text: #f4f4f4;
    --text-accent: #ffc400;
    --font-title: "Raleway", sans-serif;
    --font-text: Arial, Helvetica, sans-serif;
    --border-radius-desktop: 50px 0 50px 0;
    --border-radius-mobile: 25px 0 25px 0;
    --border-radius-desktop-right: 0 50px 0 50px;
    --border-radius-mobile-right: 0 25px 0 25px;
    --modal-background: rgba(0, 0, 0, 0.6);
    --transition-dark-mode: 0.2s;
}

* {
    margin: 0;
    font-family: var(--font-text);
    color: var(--text);
}

/* --- Design général --- */
body {
    background-color: var(--background);
    transition: var(--transition-dark-mode);
}
h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: var(--font-title);
    color: var(--primary);
}
main {
    padding: 0 5%;
}
h1 {
    margin: 40px 0 25px 0;
    font-size: 32px;
    font-weight: 700;
}
.design {
    border-radius: var(--border-radius-mobile);
    background-color: var(--background-accent);
    transition: var(--transition-dark-mode);
    padding: 20px;
    border-bottom: var(--primary) 3px solid;
}

/* Design global des boutons */
button,
.project-voir-github {
    background: #ffc400;
    border-radius: 10px 0px;
    border: none;
    color: #141414;
    padding: 8px 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s;
    font-weight: 600;

    border-bottom: 2px solid #e2ad00;
    background: linear-gradient(to bottom, #e2ad00, #e2ad00 50%, #ffc400 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    transition: background-position 0.3s ease;
}
button:hover,
.project-voir-github:hover {
    transform: scale(0.98);
    background-position: 100% 0;
    border-bottom: 2px solid var(--primary);
}
button:active,
.project-voir-github:active {
    transform: scale(0.95);
}
#close-modal {
    border-bottom: 2px solid rgb(180, 0, 0);
    background: linear-gradient(
        to bottom,
        rgb(207, 0, 0),
        rgb(207, 0, 0) 50%,
        rgb(228, 0, 0) 50%
    );
    background-size: 100% 200%;
    background-position: 0 100%;
    transition: background-position 0.3s ease;
}
#close-modal:hover {
    background-position: 100% 0;
    border-bottom: 2px solid rgb(228, 0, 0);
}

/* Boutons d'icones */
.icon-button {
    width: auto;
    margin-left: 20px;
    background: none;
    transition: all 0.1s;
    border-bottom: none;
    padding: 0;
}
.icon-button:hover {
    border-bottom: none;
}

/* --- Header, Nav, Footer --- */
header {
    height: 65px;
    background-color: var(--background-accent);
    transition: var(--transition-dark-mode);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 40px;
}
.header-nav-desktop {
    display: none;
}
.header-dark-mode,
.header-nav-mobile {
    width: auto;
}

/* Nav mobile */
.header-nav-mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 66px;
    right: 0;
    z-index: 1;
    width: 100vw;
    text-align: right;
    filter: drop-shadow(0 20px 0.5rem rgba(0, 0, 0, 0.3));
}
.header-nav-mobile-open::after {
    content: "";
    background-color: var(--primary);
    height: 4px;
    animation: slide_right 1s ease-in-out;
}
.header-nav-mobile-link {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: var(--background-accent);
}
.header-nav-mobile-link:nth-child(odd) {
    background: var(--background);
}

/* Animations des onglets du menu */
.header-nav-mobile-link:nth-child(1) {
    animation: slide_right 0.4s ease-in-out;
}
.header-nav-mobile-link:nth-child(2) {
    animation: slide_right 0.6s ease-in-out;
}
.header-nav-mobile-link:nth-child(3) {
    animation: slide_right 0.8s ease-in-out;
}
.header-nav-mobile-link:nth-child(4) {
    animation: slide_right 1s ease-in-out;
}

/* Icones header */
header em {
    font-size: 2.2em;
    color: var(--primary);
    cursor: pointer;
    transition: 0.2s;
}
header em:hover {
    transform: scale(0.98);
}
header em:active {
    transform: scale(0.8);
}

/* Footer */
footer {
    background-color: var(--background-accent);
    transition: var(--transition-dark-mode);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

/* --- Home --- */
#home {
    position: relative;
    margin: 50px 0;
    padding: 20px 20px;
    background-color: var(--background);
    transition: var(--transition-dark-mode);
    background: linear-gradient(
        to bottom,
        var(--background) 0%,
        var(--background) 50%,
        var(--background-accent) 100%
    );
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 5px solid var(--primary);
}
#home p:nth-child(1),
#home p:nth-child(3) {
    font-size: 1.1em;
    margin: 5px 0;
    line-height: 1.5em;
}
.home-name {
    -webkit-text-stroke: 1px var(--primary);
    font-size: 2.5em;
    line-height: 1em;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: 400;
    background: url("./images/animated.png") repeat-x;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: motif 40s linear infinite;
}
.home-lastname {
    letter-spacing: 10px;
    font-family: var(--font-title);
    font-weight: 600;
    color: var(--primary);
    -webkit-text-stroke: 1px var(--primary);
}
.home-socials {
    font-size: 1.2em;
    margin: 10px 0 0 0;
}
.home-socials-icons {
    font-size: 2em;
    margin: 0 0 10px 0;
}

.home-apprendre-plus {
    text-decoration: none;
}
.home-apprendre-plus:hover {
    text-decoration: underline;
    color: var(--primary);
}
.home-apprendre-plus p {
    text-decoration: none;
    color: var(--text-accent);
    font-size: 1.2em;
    font-weight: 700;
}
.home-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
}
.home-icon em {
    color: var(--background);
}

/* --- About --- */
#about {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.about-photo-profil img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-mobile);
}
.about-cv {
    margin: 20px 0;
}
.about-profil {
    margin-bottom: 20px;
}
#about aside {
    order: -1;
}
#about h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
}
.about-profil p {
    text-transform: uppercase;
    font-weight: 600;
}
.about-profil .about-profil-firstname {
    color: var(--text);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-title);
}
.about-profil .about-profil-name {
    color: var(--primary);
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-title);
    letter-spacing: 5px;
}
.about-profil-name::after {
    content: "";
    display: block;
    height: 2px;
    background: var(--primary);
    margin: 15px 0;
}
#afpa {
    height: 25px;
    padding-top: 10px;
}
.about-cv-me::after,
.about-cv-competences::after {
    content: "";
    display: block;
    height: 2px;
    margin: 20px 10%;
    background-color: var(--primary);
}

/* --- Projets --- */
#projects {
    padding: 5px 0;
}
.project-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.project-technologies,
.project-description,
.project-image-2,
.project-image-3,
.project-voir-github {
    display: none;
}
#projects h2 {
    margin: 10px 0;
}
.project-technologies em {
    font-size: 1.4em;
    margin: 0 5px 0 5px;
}
.project-technologies h3 {
    color: var(--text);
}
.project-voir-plus {
    margin-top: 5px;
}
.project-images img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-mobile);
}

/* --- Slider horizontal projets --- */
#projects {
    position: relative;
}
.projects-slide-icons {
    position: absolute;
    display: flex;
    left: 50%;
    top: 101%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.projects-slide-icons em {
    color: var(--primary);
    animation: slide_phone 3s infinite ease-in-out;
    border: var(--background) 2px solid;
    transition: 0.5s;
}

#projects-container {
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
#projects-container::-webkit-scrollbar {
    display: none;
}
article {
    scroll-snap-align: start;
    position: relative;
    min-width: calc(100vw - 10% - 40px);
    padding: 20px;
}

/* --- Formulaire de contact --- */
form {
    display: flex;
    flex-direction: column;
}
input,
textarea {
    background-color: var(--background);
    transition: var(--transition-dark-mode);
    padding: 10px;
    border: rgba(0, 0, 0, 0.4) 1px;
    margin: 10px 0;
}
textarea {
    resize: vertical;
}
label {
    color: var(--text);
}
#contact-send {
    align-self: flex-end;
}

/* Modal */
#modal {
    animation: slide_down 0.5s ease-in-out;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--modal-background);
}
#modal-content {
    animation: slide_up 1s ease-in-out;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 20px 0 20px 0;
}
#modal .project-technologies,
#modal .project-content,
#modal .project-content > p {
    display: block;
    text-align: center;
    font-size: 0.9em;
}

/* Modal Images */
#modal-content .project-images {
    order: 0;
}
#modal-content .project-images .project-image-1 {
    height: 70%;
    border-radius: 10px 0 0 0;
}
#modal-content .project-images .project-image-2 {
    border-radius: 0 0 0 0;
}
#modal-content .project-images .project-image-3 {
    border-radius: 0 0 10px 0;
}
#modal-content .project-images .project-image-2,
#modal-content .project-images .project-image-3 {
    display: inline;
    opacity: 0.8;
}
#modal-content .project-images img {
    width: 100%;
    height: 14%;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 0.5s;
    border-radius: 10px 0 10px 0;
}

/* Modal footer */
#modal .project-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#modal .project-technologies {
    margin-top: 10px;
}
#modal .project-voir-github {
    display: block;
}
#modal a {
    text-decoration: none;
    margin-top: 20px;
}
#modal #close-modal {
    margin-top: 10px;
    align-self: flex-end;
    border-radius: 10px 0 10px 0;
}
#modal-content .project-images {
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ---------- TABLET ---------- */
@media screen and (min-width: 768px) {
    /* --- Design général --- */
    h1 {
        text-align: center;
    }

    /* Design boutons */
    button {
        border-radius: 10px 0px;
        padding: 8px 15px;
        font-size: 1em;
    }
    /* --- Header, Nav, Footer --- */
    header {
        height: 116px;
    }
    header em {
        font-size: 2.5em;
        margin-left: 20px;
    }

    /* Nav mobile */
    .header-nav-mobile-menu {
        top: 116px;
    }
    .header-nav-mobile-link {
        padding: 20px 38px;
        font-size: 1.5em;
    }

    /* --- Home --- */
    #home {
        margin: 100px 0;
        padding: 20px 50px;
        height: calc(100vh - 340px);
    }
    #home p:nth-child(1),
    #home p:nth-child(3) {
        line-height: 1.2em;
        font-size: 2em;
        margin: 10px 0;
    }
    .home-name {
        font-size: 4em;
    }
    .home-socials {
        font-size: 1.5em;
        margin: 10px 0 5px 0;
    }
    .home-socials-icons {
        font-size: 2em;
    }
    .home-socials-icons em {
        margin-right: 10px;
    }
    #home .home-apprendre-plus p {
        font-size: 1.5em;
    }

    /* --- About --- */
    #about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
    }
    .about-cv {
        text-align: center;
        padding: 30px;
    }
    .about-photo-profil {
        width: 250px;
    }
    .about-profil {
        width: calc(100% - 380px);
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
    }
    .about-profil .about-profil-firstname {
        font-size: 24px;
    }
    .about-profil .about-profil-name {
        font-size: 36px;
        margin-right: -5px;
        letter-spacing: 5px;
    }
    #about aside {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    /* --- Projets --- */
    #projects-container {
        flex-direction: column;
    }
    #projects {
        padding-top: 20px;
    }
    article {
        padding: 0px;
        margin-bottom: 40px;
    }
    article div {
        scroll-snap-align: none;
        display: flex;
        flex-direction: row;
    }
    .projects-slide-icons {
        display: none;
    }

    /* Animation apparition des projets */
    .left-animation {
        animation: slide_left 0.5s ease-in-out;
    }
    .right-animation {
        animation: slide_right 0.5s ease-in-out;
    }

    /* Paramètres particuliers des projets */
    .project-right .project-images {
        order: 2;
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right {
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right .project-images img {
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right .project-voir-plus {
        border-radius: 0 10px;
    }

    /* Images des projets */
    .project-images {
        padding: 20px;
        width: 250px;
    }
    .project-images img {
        width: 250px;
        object-fit: cover;
        border-radius: var(--border-radius-mobile);
    }

    /* Contenu des projets */
    .project-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .project-description {
        display: block;
    }
    article h2 {
        margin: 10px 0;
        font-size: 1.5em;
    }

    /* Projet footer */
    .project-footer {
        margin-top: 5px;
        width: 100%;
        justify-content: flex-end;
        margin-top: auto;
    }
    .project-technologies em {
        font-size: 2em;
        margin: 0 5px 0 5px;
    }

    /* --- Formulaire de contact --- */
    .contact-form {
        padding: 40px;
    }
    input,
    textarea {
        padding: 12px;
        font-size: 1em;
    }
    label {
        font-size: 1.4em;
        margin-top: 10px;
    }
    #contact-send {
        margin-top: 20px;
    }

    /* Modal */
    #modal-content {
        height: 90vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
        padding: 10px;
    }
    #modal .project-content {
        padding: 0 20px 20px 20px;
    }
    #modal .project-content p {
        line-height: 1.5em;
        font-size: 1.1em;
    }
    #modal .project-technologies {
        margin-top: 20px;
    }
    #modal-content .project-images {
        min-width: 80%;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

/* ---------- DESKTOP ---------- */
@media screen and (min-width: 1024px) {
    /* --- Design général --- */
    h1 {
        font-size: 3em;
        text-align: left;
        margin-top: 40px;
    }
    main,
    .header-content {
        max-width: 1200px;
        margin: auto;
    }
    .design {
        border-radius: var(--border-radius-desktop);
    }

    /* --- Header, Footer --- */
    header,
    footer {
        height: 100px;
    }
    .header-content {
        padding: 0 50px;
        height: 100px;
        display: flex;
        align-items: center;
    }

    /* Icones dark mode et menu */
    header em {
        font-size: 2em;
        margin-left: 0;
    }
    header em {
        text-align: center;
        margin-right: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        background: linear-gradient(
            to right,
            var(--text-accent),
            var(--text-accent) 50%,
            var(--text) 50%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 0.3s ease;
    }
    .header-dark-mode em {
        margin-right: 0;
        margin-left: 50px;
    }
    header em:hover {
        background-position: 0 100%;
    }

    /* Nav desktop */
    .header-nav-mobile,
    .header-nav-mobile-menu {
        display: none;
    }
    .header-nav-desktop {
        display: block;
        display: flex;
        width: 100%;
    }
    .header-nav-desktop a:visited,
    .header-nav-desktop a {
        color: var(--text);
        text-decoration: none;
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 1.2em;
    }
    .header-nav-desktop a {
        text-align: center;
        margin-right: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        background: linear-gradient(
            to right,
            var(--text-accent),
            var(--text-accent) 50%,
            var(--text) 50%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;

        transition: background-position 0.3s ease;
    }
    .header-nav-desktop a:hover {
        background-position: 0 100%;
    }

    /* --- Home --- */
    #home {
        margin: 100px 0;
        padding: 20px 100px;
        background-color: var(--background);
        background: linear-gradient(
            to bottom,
            var(--background) 0%,
            var(--background) 50%,
            var(--background-accent) 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-bottom: 5px solid var(--primary);
    }
    #home p:nth-child(1),
    #home p:nth-child(3) {
        font-size: 1.8em;
        margin: 5px 0;
        line-height: 1.2em;
    }
    .home-name {
        font-size: 4em;
        text-transform: uppercase;
        font-family: var(--font-title);
        font-weight: 400;
        color: var(--primary);
    }
    .home-lastname {
        letter-spacing: 10px;
        font-family: var(--font-title);
        color: var(--primary);
    }
    .home-socials {
        font-size: 1.2em;
        margin: 10px 0 0 0;
    }
    .home-socials-icons {
        font-size: 2.5em;
    }
    #home .home-apprendre-plus p {
        font-size: 1.2em;
    }
    .home-icon {
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 3em;
    }
    .home-icon em {
        color: var(--background-accent);
    }

    /* --- About --- */
    #about {
        padding: 100px 0;
        height: calc(100vh - 250px);
        flex-direction: row;
        justify-content: space-between;
    }
    #about h2 {
        margin-bottom: 15px;
    }
    .about-photo-profil,
    .about-profil {
        height: 400px;
    }
    .about-photo-profil {
        width: 400px;
        height: 100%;
    }
    #about aside {
        order: 0;
        flex-direction: column;
    }
    .about-profil {
        width: calc(100% - 40px);
        height: calc(100% - 520px);
        margin-bottom: 40px;
        line-height: 2em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .about-cv {
        width: calc(100% - 550px);
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-profil .about-profil-firstname {
        font-size: 32px;
    }
    .about-profil .about-profil-name {
        font-size: 48px;
        margin-top: 10px;
        margin-right: -5px;
        letter-spacing: 5px;
    }
    .about-cv-me,
    .about-cv-experience {
        text-align: left;
        line-height: 1.4em;
    }
    .about-cv-competences {
        text-align: right;
        line-height: 1.4em;
    }
    .about-cv-me::after,
    .about-cv-competences::after {
        margin-top: 60px;
        height: 3px;
    }
    .about-profil-name::after {
        height: 3px;
        margin: 20px 0;
    }

    /* --- Projets --- */
    #projects {
        padding-top: 20px;
    }
    #projects-title {
        margin-bottom: 40px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--background);
        transition: var(--transition-dark-mode);
        padding: 20px;
    }
    article {
        padding: 20px 0;
        min-width: 100%;
        display: flex;
        scroll-snap-align: start;
    }
    article div {
        display: flex;
        flex-direction: row;
    }
    .project-right,
    .project-left {
        margin: auto;
        height: 400px;
        width: 100%;
    }

    /* Design particulier des projets */
    .project-right .project-images {
        order: 2;
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right {
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right .project-images img {
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right .project-voir-plus {
        border-radius: 0 10px;
    }

    /* Projet images */
    .project-images {
        min-width: 360px;
    }
    .project-images img {
        width: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-desktop);
    }

    /* Projet footer */
    .project-footer {
        justify-content: space-between;
        align-items: flex-end;
    }
    .project-technologies {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .project-technologies h3 {
        margin-bottom: 0px;
        margin-right: 20px;
    }
    .project-technologies em {
        font-size: 2em;
        margin-right: 10px;
    }

    /* --- Formulaire de contact --- */
    #contact {
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
    }
    .contact-title {
        top: 0;
        background-color: var(--background);
        transition: var(--transition-dark-mode);
        padding: 10px 0;
    }
    label {
        font-size: 1.2em;
        margin-top: 0;
    }
    input,
    textarea {
        padding: 10px;
    }

    /* Grid du formulaire */
    .contact-form {
        width: calc(100% - 80px);
        margin: auto;
        background-color: var(--background-accent);
        display: grid;
        grid-gap: 10px;
        align-items: center;
        grid-template-columns: 200px 1fr 150px;
        grid-template-rows: 40px 40px 1fr 40px;
        grid-template-areas:
            "label input input"
            "label2 input2 input2"
            "label3 input3 input3"
            ". . button";
    }
    .contact-form :nth-child(1n) {
        grid-area: label;
    }
    .contact-form :nth-child(2n) {
        grid-area: input;
    }
    .contact-form :nth-child(3n) {
        grid-area: label2;
    }
    .contact-form :nth-child(4n) {
        grid-area: input2;
    }
    .contact-form :nth-child(5n) {
        grid-area: label3;
        align-self: flex-start;
        margin-top: 20px;
    }
    .contact-form :nth-child(6n) {
        grid-area: input3;
        align-self: flex-start;
        height: 80%;
    }
    .contact-form :nth-child(7n) {
        grid-area: button;
        cursor: pointer;
    }

    /* Modal */
    #modal-content {
        height: 550px;
        display: flex;
        flex-direction: row;
        width: 900px;
    }
    #modal .project-content {
        display: flex;
        text-align: left;
    }
    #modal .project-content p {
        text-align: left;
    }
    #modal .project-content {
        padding: 20px;
    }

    /* Modal images */
    #modal-content .project-images {
        min-width: 360px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    /* Modal footer */
    #modal .project-footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #modal .project-technologies {
        display: flex;
        width: 100%;
    }
    #modal .project-voir-github {
        margin-right: 20px;
    }
    #modal #close-modal {
        margin-top: 20px;
    }
}

/* --- Icones langages --- */
.fa-html5 {
    color: #ef450a;
}
.fa-css3-alt {
    color: #2449d8;
}
.fa-js {
    color: #ead41c;
}
.fa-wordpress {
    color: #3190cd;
}
.fa-php {
    color: #7175aa;
}
.fa-react {
    color: #5ccfee;
}
.fa-bootstrap {
    color: #7d11f0;
}
.fa-database {
    color: #000000;
}

/* Icones sociales */
.fa-github,
.fa-linkedin {
    color: var(--text-accent);
}

/* Animations */
@keyframes slide_up {
    0% {
        transform: translateY(2000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(-2000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide_left {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide_phone {
    0% {
        transform: translateX(0%);
    }
    35% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Animation nom accueil*/

@keyframes motif {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
