@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root{
    --primary : #75B31D;
    --background : #FFFFFF;
    --background-accent : #f4f4f4;
    --text : #141414;
    --text-accent : #75B31D;
    --font-title : 'Raleway', sans-serif;;
    --font-text :  Arial, Helvetica, sans-serif;
    --border-radius-desktop: 50px 0 50px 0;
    --border-radius-mobile: 25px 0 25px 0;
    --border-radius-desktop-right: 0 50px 0 50px ;
    --border-radius-mobile-right: 0 25px 0 25px ;
    --modal-background : rgba(0,0,0,0.6);
}

*{
    margin: 0;
    font-family: var(--font-text);
    color: var(--text);
}


/* --- Design général global --- */

body{
    background-color: var(--background);
}

h1, h2, h3{
    text-transform: uppercase;
    font-family: var(--font-title);
    color: var(--primary);
}

main{
    padding: 0 5%;
}

h1{
    margin: 40px 0 25px 0;
    font-size: 32px;
    font-weight: 700;
}

button{
    background: #87BB34;
    border-radius: 10px 0px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

/* --- Header, Nav, Footer --- */
header{
    
    background-color: var(--background-accent);
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5%;
    margin-bottom: 40px;
}

.nav-desktop, .nav-mobile-menu{
    display: none;
}

footer{
    background-color: var(--background-accent);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

.design{
    border-radius: var(--border-radius-mobile);
    background-color: var(--background-accent);
    padding: 20px;
}
header em{
    font-size: 1.7em;
    margin-left: 20px;
    color: var(--primary);
    cursor: pointer;
}

/* --- About --- */

#photo-profil img{
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-mobile);
}
#about-me, #profil{
    margin-top: 20px;
}
h3{
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
}
#line{
    height: 2px;
    background: var(--primary);
    margin: 10px 0;
}
#profil p{
    text-transform: uppercase;
    font-weight: 600;
}
#profil-firstname{
    color: var(--text);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-title);
}
#profil-name{
    color: var(--primary);
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-title);
    letter-spacing: 5px;
}
#afpa{ 
    height: 25px;
    padding-top: 10px;

}

/* --- Projets --- */
.project-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.project-description {
    display: none;
}
.project-technologies{
    display: none;
}
.project-image-2, .project-image-3{
    display: none;
}


h2{
    margin: 10px 0;
}
.voir-plus{
    margin-top: 5px;
}
.project-images img{
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-mobile);
}

/* --- Slider horizontal projets --- */

#projects-container {
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
#projects-container::-webkit-scrollbar {
    display: none;
}
article {
    scroll-snap-align: start;
    position: relative;
    min-width: calc(100vw - 10% - 40px);
    padding: 20px;
}

/* --- Formulaire de contact --- */
form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    background-color: var(--background);
    padding: 5px;
    border: rgba(0,0,0,0.4) 1px ;
    margin: 10px 0;
}
textarea{
    resize: vertical;
}
label{
    color: var(--primary);
}
#send{
    align-self: flex-end;
}


@media screen and (min-width: 768px) {

    /* --- Design général --- */
    h1{
        text-align: center;
    }
    button{
        border-radius: 10px 0px;
        padding: 8px 15px;
        font-size: 1em;
    }
    
    /* --- Header, Nav, Footer --- */

    header em{
        font-size: 2.5em;
        margin-left: 50px;
    }

    /* --- About --- */
    #about{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #photo-profil{
        width: 250px;
    }
    #profil{
        text-align: right;
    }
    #profil-firstname{
        font-size: 24px;
    }
    #profil-name{
        font-size: 36px;
        margin-right:-5px;
        letter-spacing: 5px;
    }
    #about-me{
        text-align: center;
        padding: 30px;
    }
    #line{
        margin: 20px 0;
    }

    /* --- Projets --- */


    #projects-container{
        flex-direction: column;
        height: calc(350px + 350px + 70px) ;
        overflow-y: scroll;
        scrollbar-width: none;
        scroll-snap-type: y mandatory;
    }
    #projects{
        padding-top: 20px;
    }
    article{
        padding: 0px;
        margin-bottom: 40px;
    }
    article div{
        scroll-snap-align: none;
        width: calc(100%-40px);
        padding: 20px;
        display: flex;
        flex-direction: row;
    }
    .project-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .project-right .project-images{
        order:2;
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right{
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right .project-images img{
        border-radius: var(--border-radius-mobile-right);
    }
    .project-right .voir-plus{
        border-radius: 0 10px;
    }

    .project-description {
        display: block;
    }
    
    h2{
        margin: 10px 0;
        font-size: 1.8em;
    }
    .voir-plus{
        margin-top: 5px;
        align-self: flex-end;
        margin-top: auto;
    }
    .project-images{
        padding: 20px;
        width: 250px;
    }
    .project-images img{
        width: 250px;
        object-fit: cover;
        border-radius: var(--border-radius-mobile);
    }
    /* --- Formulaire de contact --- */
    .form{
        padding: 40px;
    }

    input, textarea{
        padding: 10px;
        font-size: 1em;
    }
    label{
        font-size: 1.4em;
        margin-top: 10px;
    }
    #send{
        margin-top: 20px;
    }

}

@media screen and (min-width: 992px) {

    /* --- Design général --- */
    h1{
        font-size: 3em;
        text-align: left;
        margin-top: 40px;
    } 
    main, .header-content{
        max-width: 1200px;
        margin: auto;
    }
    .design{
        border-radius: var(--border-radius-desktop);
    }


    /* --- Header --- */
    header, footer{
        height: 100px;
    }
    .header-content{
        padding: 0;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .nav-mobile, .nav-mobile-menu{
        display:none;
    }
    .nav-desktop{
        display: block;
        display: flex;
        width: 100%;
    }
    .nav-desktop a{
        width: 150px;
        text-align: center;
    }
    .nav-desktop a:visited, .nav-desktop a{
        color: var(--text);
        text-decoration: none;
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 1.2em;
    }
    header em{
        font-size: 2em;
        margin-left: 0;
    }


    /* --- About --- */
    #about{
        padding: 50px 0;
    }
    #photo-profil{
        width: 400px;
    }
    #profil{
        margin-top: 0;
        width: calc(100% - 550px);
    }
    #about-me{
        margin-top: 100px;
    }

    
    /* --- Projets --- */
    #projects-container{
        height: calc(100vh - 142px) ;
        overflow-x: none;
        overflow-y: scroll;
        scrollbar-width: none;
        scroll-snap-type: y mandatory;
    }
    #projects{
        padding-top: 20px;
    }
    article{
        padding: 150px 0;
        min-width: 100%;
        display: flex;
        scroll-snap-align: start;
    }
    article div{
        
        display: flex;
        flex-direction: row;
    }
    .project-right, .project-left{
        margin: auto;
        height: 400px;
        width : 100%;
    }
    .project-images{
        min-width: 360px;
    }
    .project-images img{
        width: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-desktop);
    }

    .project-right .project-images{
        order:2;
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right{
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right .project-images img{
        border-radius: var(--border-radius-desktop-right);
    }
    .project-right .voir-plus{
        border-radius: 0 10px;
    }
    .project-technologies{
        display: block;
    }

    /* --- Formulaire de contact --- */
    #contact{
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
    }
    .contact-title{
        top: 0;
        background-color: var(--background);
        padding: 10px 0;
    }
    form{
        width: 100%;
        margin: auto;
        background-color: rgb(238, 238, 238);
        display: grid;
        grid-gap: 10px;
        align-items: center;
        grid-template-columns: 200px 1fr 150px;
        grid-template-rows: 30px 30px 1fr 40px;
        grid-template-areas:    "label input input"
                                "label2 input2 input2"
                                "label3 input3 input3"
                                ". . button";
    }
    form :nth-child(1n){
        grid-area: label;
    }
    form :nth-child(2n){
        grid-area: input;
        padding: 5px;
    }
    form :nth-child(3n){
        grid-area: label2;
    }
    form :nth-child(4n){
        grid-area: input2;
        padding: 5px;
    }
    form :nth-child(5n){
        grid-area: label3;
        align-self: flex-start;
        margin-top: 5px;
    }
    form :nth-child(6n){
        grid-area: input3;
        align-self: flex-start;
        height:80%;
        padding: 5px;
    }
    form :nth-child(7n){
        grid-area: button;
        cursor: pointer;
    }
    label{
        color: var(--primary);
        font-size: 1.2em;
    }

    /* Modal */
    #modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: var(--modal-background); /* Black w/ opacity */

    }
    #modal-content {
        height: 500px;
        display: flex;
        margin: 15% auto; /* 15% from the top and centered */
        width: 900px; /* Could be more or less, depending on screen size */
    }
    #modal #close-modal{
        background-color: rgb(196, 18, 5);
    }
    #modal-content .project-images{
        min-width: 360px;
        width: 500px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

    }
    #modal-content .project-images::-webkit-scrollbar {
        display: none;
    }
    #modal-content .project-images img{
        display: block;
        height: 360px;
        width: 360px;
        display: flex;
        margin: 0;
        scroll-snap-align: start;
        transition: 0.5s;
        filter : drop-shadow(0px 0px 10px rgba(0,0,0,0.1))
    }


    #modal-content .project-images img:not(:first-child) {
        margin-top: -310px;
    }
    
    #modal-content .project-images .project-image-1 {
        z-index: 4;
    }
    #modal-content .project-images .project-image-2 {
        z-index: 3;
    }
    #modal-content .project-images .project-image-3 {
        z-index: 2;
    }


}

/* --- Icones langages --- */
.fa-html5{
    color: #EF450A;
}
.fa-css3-alt{
    color: #2449D8;
}
.fa-js{
    color: #EAD41C;
}
.fa-wordpress{
    color: #3190CD;
}
.fa-php{
    color: #7175AA;
}
.fa-react{
    color: #5CCFEE;
}
